.header {
  margin: 50px;

  display: flex;
  justify-content: center;
}

.wrapper {
  margin: auto;

  width: 1400px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Age {
  font-size: 20px;
  font-family: "Comic Sans MS";
}

.Male {
  font-size: 30px;
  color: blue;
}

.Female {
  font-size: 30px;
  color: deeppink;
}

.photo {
  height: 300px;
}

.Alive {
  font-size: 20px;
  font-family: "Comic Sans MS";
  color: green;
}
